//
// CONFIGURATION SETTINGS
// Adjust colors, font stacks, breakpoints and sizing.
//
//
// Colors
// Orange (900): #FF740D
// Orange (700): #E7890C
// Orange (500): #feac00
// Orange (300): #E7B60C
// Green (900): #8ED357;
// Green (700): #68DD5C;
// Green (500): #5cc672;
// Green (300): #5CDD9B;
// Gray (900) #231f20
// Gray (700): #5c5c5c
// Gray (500): #7f7f7f
// Gray (300): #e6e7e8
// White: #ffffff
// Code (Fuscia): #dd1144;
//
//
// Font Stack
// Sans-Serif: "Open Sans", "Roboto", "Montserrat", sans-serif
// Monospace: Menlo, Monaco, "Courier New", monospace
//
//
// Typographic Scale
// (For math purposes. Actual font sizes in ems.)
// 1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
// line height: 1.5em on small screens, 1.5625em on big screens
//

// Colors
$color-orange-dark: #CB8900;
$color-orange-primary: #feac00;
$color-orange-light: #FEC54C;
$color-green-primary: #5cc672;
$color-green-alt-light: #A1D2AB;
$color-green-alt-dark: #449355;
$color-red-primary: #880e14;
$color-gray-dark: #231f20;
$color-gray-primary: #5c5c5c;
// $color-gray-primary: #7f7f7f;
$color-gray-light: #e6e7e8;
$color-white: #ffffff;
$color-black: #000000;

$color-primary: $color-orange-primary;
$color-success: $color-green-primary;
$color-danger: $color-red-primary;
$color-warning: $color-gray-primary;
$color-code: #dd1144;


// Font Stacks
$font-heading: "Open Sans", sans-serif;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Breakpoints
$bp-xsmall: 20em;
$bp-small: 30em;
$bp-medium: 40em;
$bp-large: 60em;
$bp-xlarge: 80em;


// Sizing
$font-base: 100%;
$spacing: 1.5625em;
$container-max: 80em;
$grid-margins: 1.4%;