//
// CONFIGURATION SETTINGS
// Adjust colors, font stacks, breakpoints and sizing.
//
//
// Font Stack
// Sans-Serif: "Open Sans", "Roboto", "Montserrat", sans-serif
// Monospace: Menlo, Monaco, "Courier New", monospace
//
//
// Typographic Scale
// (For math purposes. Actual font sizes in ems.)
// 1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
// line height: 1.5em on small screens, 1.5625em on big screens
//

// Colors
$color-orange-dark: #CB8900;
$color-orange-primary: #feac00;
$color-orange-light: #FEC54C;
$color-green-primary: #5cc672;
$color-green-alt-light: #A1D2AB;
$color-green-alt-dark: #449355;
$color-red-primary: #D4161F;
$color-gray-dark: #231f20;
$color-gray-primary: #5c5c5c;
$color-gray-light: #7f7f7f;
$color-gray-alt-light: #e6e7e8;
$color-white: #ffffff;
$color-black: #000000;

$color-primary: $color-orange-primary;
$color-success: $color-green-primary;
$color-danger: $color-red-primary;
$color-info: $color-gray-primary;
$color-code: #dd1144;


// Font Stacks
$font-heading: "Open Sans", sans-serif;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Breakpoints
$bp-xsmall: 20em;
$bp-small: 30em;
$bp-medium: 40em;
$bp-large: 60em;
$bp-xlarge: 80em;


// Sizing
$font-base: 100%;
$spacing: 1.5625em;
$container-max: 80em;
$grid-margins: 1.4%;