/**
 * @section Buttons
 * Styling for CSS buttons.
 */

.btn {
	display: inline-block;
	font-size: calc-em(15px);
	padding: calc-em(8px) calc-em(11px);
	line-height: 1.2;
	font-weight: normal;
	background-color: $color-primary;
	border: calc-em(3px) solid $color-primary;
	border-radius: calc-em(1px);
	margin-right: calc-em(5px);
	margin-bottom: calc-em(5px);
	box-shadow: 0 calc-em(1px) calc-em(1.5px) rgba(0, 0, 0, .12), 0 calc-em(1px) calc-em(1px) rgba(0, 0, 0, .24);
	transition: box-shadow .1s ease-in-out;
	-webkit-transition: box-shadow .1s ease-in-out;
	-moz-transition: box-shadow .1s ease-in-out;
	-o-transition: box-shadow .1s ease-in-out;
}

.btn,
.btn:visited,
a .btn:visited,
.btn:hover,
a .btn:hover,
.btn:focus,
a .btn:focus,
.btn:active,
a .btn:active,
.btn.active {
	outline: 0;
	color: $color-white;
}

.btn:hover,
a .btn:hover,
.btn:focus,
a .btn:focus,
.btn:active,
a .btn:active,
.btn.active {
	background-color: darken($color-primary, 5%);
	border-color: darken($color-primary, 5%);
	text-decoration: none;
}

.btn:active,
.btn.active {
	box-shadow: 0 calc-em(3px) calc-em(3px) rgba(0, 0, 0, .16), 0 calc-em(3px) calc-em(3px) rgba(0, 0, 0, .23);
	outline: 0;
}

.btn-flat {
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	color: $color-gray-primary;
}

.btn-flat:hover,
a .btn-flat:hover,
.btn-flat:focus,
a .btn-flat:focus,
.btn-flat:active,
a .btn-flat:active,
.btn-flat.active {
	background-color: $color-primary;
	border-color: $color-primary;
	color: $color-white;
}

.btn-flat:active,
.btn-flat.active {
	box-shadow: none;
	background-color: darken($color-primary, 5%);
	border-color: darken($color-primary, 5%);
}

.btn-floating-action {
	border-radius: 50%;
	width: calc-em(40px);
	height: calc-em(40px);
}


.btn-floating-action.btn-large {
	width: calc-em(56px);
	height: calc-em(56px);
	padding: 0;
}

.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
  box-shadow: none;
}

.btn-success {
	background-color: $color-success;
	border-color: $color-success;
	color: $color-white;
}

.btn-success:hover,
a .btn-success:hover,
.btn-success:focus,
a .btn-success:focus,
.btn-success:active,
a .btn-success:active,
.btn-success.active {
	background-color: darken($color-success, 5%);
	border-color: darken($color-success, 5%);
}

.btn-flat.btn-success {
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	color: $color-gray-primary;
}

.btn-flat.btn-success:hover,
a .btn-flat.btn-success:hover,
.btn-flat.btn-success:focus,
a .btn-flat.btn-success:focus,
.btn-flat.btn-success:active,
a .btn-flat.btn-success:active,
.btn-flat.btn-success.active {
	background-color: $color-success;
	border-color: $color-success;
	color: $color-white;
}

.btn-flat.btn-success:active,
.btn-flat.btn-success.active {
	box-shadow: none;
	background-color: darken($color-success, 5%);
	border-color: darken($color-success, 5%);
}

.btn-danger {
	background-color: $color-danger;
	border-color: $color-danger;
	color: $color-white;
}

.btn-danger:hover,
a .btn-danger:hover,
.btn-danger:focus,
a .btn-danger:focus,
.btn-danger:active,
a .btn-danger:active,
.btn-danger.active {
	background-color: darken($color-danger, 5%);
	border-color: darken($color-danger, 5%);
}

.btn-flat.btn-danger {
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	color: $color-gray-primary;
}

.btn-flat.btn-danger:hover,
a .btn-flat.btn-danger:hover,
.btn-flat.btn-danger:focus,
a .btn-flat.btn-danger:focus,
.btn-flat.btn-danger:active,
a .btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
	background-color: $color-danger;
	border-color: $color-danger;
	color: $color-white;
}

.btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
	box-shadow: none;
	background-color: darken($color-danger, 5%);
	border-color: darken($color-danger, 5%);
}

.btn-info {
	background-color: $color-info;
	border-color: $color-info;
	color: $color-white;
}

.btn-info:hover,
a .btn-info:hover,
.btn-info:focus,
a .btn-info:focus,
.btn-info:active,
a .btn-info:active,
.btn-info.active {
	background-color: darken($color-info, 5%);
	border-color: darken($color-info, 5%);
}

.btn-flat.btn-info {
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	color: $color-gray-primary;
}

.btn-flat.btn-info:hover,
a .btn-flat.btn-info:hover,
.btn-flat.btn-info:focus,
a .btn-flat.btn-info:focus,
.btn-flat.btn-info:active,
a .btn-flat.btn-info:active,
.btn-flat.btn-info.active {
	background-color: $color-info;
	border-color: $color-info;
	color: $color-white;
}

.btn-flat.btn-info:active,
.btn-flat.btn-info.active {
	box-shadow: none;
	background-color: darken($color-info, 5%);
	border-color: darken($color-info, 5%);
}

.btn-large {
	padding: calc-em(11px) calc-em(15px);
	font-size: 1em;
	line-height: normal;
}

.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	display: block;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

button,
.btn {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	/**
	 * @workaround Override default button styling
	 * @affected Webkit/Firefox
	 */
	background-image: none;
	-webkit-appearance: none;
}

.btn:last-child,
input.btn {
	margin-right: 0;
}