/**
 * @section Forms
 * Styling for form elements.
 */

form,
fieldset {
	margin-bottom: $spacing;
}

legend,
label {
	display: block;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .06em;
	padding: 0;
	margin-bottom: calc-em(5px);
}

label.error-msg {
	color: $color-danger;
	margin-top: calc-em(-17px);
	font-size: calc-em(12px)
}

input,
textarea,
select {
	display: block;
	width: 100%;
	font: inherit;
	line-height: 1.5;
	color: lighten( $color-black, 18% );
	margin-bottom: calc-em(19px);
	padding: calc-em(5px);
	border: calc-em(1px) solid lighten( $color-gray-dark, 22% );
	border-radius: calc-em(1px);

	@media (min-width: $bp-medium) {
		line-height: 1.5625;
	}
}

input {
	border-top: none;
	border-right: none;
	border-left: none;
	padding: calc-em(6px) 0;
}

form button,
form .button {
	margin-bottom: calc-em(19px);
}

textarea {
	height: 12em;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 0;
	margin-bottom: calc-em(5px);
	cursor: pointer;
	background: $color-white;
}

input[type="image"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
	border: none;
	box-shadow: none;
}

input:focus,
textarea:focus {
	border-bottom-color: $color-success;
	box-shadow: 0 calc-em(1px) 0 $color-success;
	outline: 0;
	outline: thin dotted 9;
}

input.has-error, input.has-error:focus {
	border-bottom-color: $color-danger;
	box-shadow: 0 calc-em(1px) 0 $color-danger;
}

input[disabled], input.disabled {
	border-bottom: calc-em(1px) dotted $color-gray-light;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
	outline: thin dotted;
	outline: calc-em(5px) auto -webkit-focus-ring-color;
	outline-offset: calc-em(-2px);
}


/**
 * Inline inputs
 */
.input-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}


/**
 * Condensed inputs
 */
.input-condensed {
	padding: calc-em(1px) calc-em(5px);
	font-size: calc-em(15px);
}