/**
 * @section Typography
 * Sets font styles for entire site
 */
$web-fonts-protocol: "https";
@include web-fonts(('Open Sans': ('300', '400', '600', '700', '800')));
@include web-fonts(('Montserrat': ('400', '700')));
@include web-fonts(('Roboto': ('100', '300', '400', '500', '700', '900')));

body {
	font-family: $font-primary;
	font-size: $font-base;
	font-weight: 300;
	line-height: 1.5;
	color: $color-black;
	background: $color-white;

	@media (min-width: $bp-medium) {
		line-height: 1.5625;
	}
}

p {
	margin-bottom: $spacing;
}


/**
 * Sizes for smaller and larger text
 */

.text-small {
	font-size: calc-em(15px);
}

.text-tall {
	font-size: calc-em(19px);
	line-height: 1.4;
}

@media (min-width: $bp-medium) {
	.text-tall {
		font-size: calc-em(21px);
	}
}


/**
 * Alternate text colors
 */

.text-muted {
	color: $color-gray-light;
}


/**
 * Hyperlink styling
 */

a,
a:visited {
	color: $color-primary;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover,
a:focus,
a:active {
	color: $color-orange-dark;
	text-decoration: underline;
}

a img {
	border: none;
	background: none;
}

/**
 * Prevents border/background on linked image hover.
 * Adds slight opacity.
 */
a:hover img {
	border: none;
	background: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}


/**
 * List styling
 */

ul,
ol,
dl {
	margin-bottom: $spacing;
	margin-left: calc-em(32px);
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin-left: 0;
}

dt {
	font-weight: bold;
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
ul.list-unstyled {
	margin-left: 0;
	list-style: none;
}

/**
 * Add separator between list items
 */
ul.list-separated > li, ol.list-separated > li {
	padding: 15px 0;
	border-bottom: 1px dotted $color-gray-alt-light;

	&:first-child {
		border-top: 1px dotted $color-gray-alt-light;
	}
}

/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-family: $font-heading;
	font-weight: normal;
	margin-bottom: 1em;
	padding-top: 1em;
	word-wrap: break-word;
	letter-spacing: .06em;
}

h1,
.h1 {
	font-size: calc-em(24px);
	padding-top: .5em;
}

h2,
.h2 {
	font-size: calc-em(21px);
}

h3,
.h3 {
	font-size: calc-em(19px);
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: calc-em(15px);
}

h4,
.h4 {
	text-transform: uppercase;
}

@media (min-width: $bp-medium) {
	h1,
	.h1 {
		font-size: calc-em(28px);
	}
}

/**
 * Column heading
 */
h1.heading-column,
h2.heading-column,
h3.heading-column,
h4.heading-column,
h5.heading-column,
h6.heading-column {
	border-bottom: 3px solid $color-gray-alt-light;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-family: 'Montserrat';
	color: $color-gray-dark;
}

/**
 * Card heading
 */
h1.heading-card,
h2.heading-card,
h3.heading-card,
h4.heading-card,
h5.heading-card,
h6.heading-card {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: bold;
	color: $color-white;
	background-color: $color-gray-dark;
	padding: 15px;
	width: 100%;
}

/**
 * Lines, Quotes and Emphasis
 */

hr {
	margin: calc-em(32px) auto;
	border: 0;
	border-top: calc-em(1px) solid $color-gray-light;
	border-bottom: 0 solid $color-white;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

sub,
sup {
	position: relative;
	font-size: 85%;
	font-weight: bold;
	line-height: 0;
	vertical-align: baseline;
	margin-left: calc-em(4px);
}

sup {
	top: calc-em(-8px);
}

sub {
	bottom: calc-em(-4px);
}

/**
 * Highlighting colors
 */
::selection {
	color: $color-black;
	background: $color-gray-alt-light;
}

::-moz-selection {
	color: $color-black;
	background: $color-gray-alt-light;
}

/**
 * Blockquotes
 */

blockquote {
	border-left: calc-em(4px) solid $color-gray-light;
	margin-bottom: $spacing;
	padding-left: $spacing;
	padding-right: $spacing;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}